@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 300;
}

.section-title,
.prof-info {
  font-family: Roboto;
  font-weight: 400;
}

.main-header,
.main,
.main-footer {
  width: 100%;
  max-width: 1280px;
  margin: 0;
  border: 1px solid red;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.link {
  text-decoration: none;
}

.avatar {
  width: 40%;
}

.main-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}